.slider {
    width: 100%;
    /*margin: 20px auto;*/
}

.slick-slide {
    margin: 5px 5px;
    height: 250px;
}

.slick-list {
    padding: 0px 450px;
}

.slick-slide img {
    height: 100%;
    /* margin-top:-100px; */
    width: 100%;
}

.slick-prev:before,
.slick-next:before {
    color: black;
}

.slick-slide {
    transition: all ease-in-out .3s;
    /* opacity: .2; */
}

.slick-active {
    opacity: .5;
}

.slick-current {
    opacity: 1;
}

.icon {
    color: #e84118;
}

.search-input:active {
    border: none;
}

.video-list-thumbs {}

.video-list-thumbs>li {
    margin-bottom: 12px;
}

.video-list-thumbs>li:last-child {}

.video-list-thumbs>li>a:hover {
    box-shadow: 0 2px 5px rgba(0, 0, 0, .3);
    text-decoration: none
}

.video-list-thumbs h2 {
    bottom: 0;
    font-size: 14px;
    height: 33px;
    margin: 8px 0 0;
}

.video-list-thumbs .glyphicon-play-circle {
    font-size: 60px;
    opacity: 0.6;
    position: absolute;
    right: 39%;
    top: 31%;
    text-shadow: 0 1px 3px rgba(0, 0, 0, .5);
    transition: all 500ms ease-in-out;
}

.video-list-thumbs>li>a:hover .glyphicon-play-circle {
    color: #fff;
    opacity: 1;
    text-shadow: 0 1px 3px rgba(0, 0, 0, .8);
}

.video-list-thumbs .duration {
    background-color: rgba(0, 0, 0, 0.4);
    border-radius: 2px;
    color: #fff;
    font-size: 11px;
    font-weight: bold;
    left: 12px;
    line-height: 13px;
    padding: 2px 3px 1px;
    position: absolute;
    top: 12px;
    transition: all 500ms ease;
}

.video-list-thumbs>li>a:hover .duration {
    background-color: #000;
}

@media (min-width:320px) and (max-width: 480px) {
    .video-list-thumbs .glyphicon-play-circle {
        font-size: 35px;
        right: 36%;
        top: 27%;
    }
    .video-list-thumbs h2 {
        bottom: 0;
        font-size: 12px;
        height: 22px;
        margin: 8px 0 0;
    }
}



.tag {
    position: absolute;
    width: 180px;
    border-radius: 0 0 10px 10px;
    height: 40px;
    padding-top: 10px;
    bottom: 0;
    background: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    display: flex;
    align-items: center;
    opacity: 0.7;
}

.text-tag {
    text-align: center;
    width: 100%;
}

.img-category {
    width: 180px;
    height: 120px;
    border-radius: 7px 7px 7px 7px;
}

.btnSearch {
    background-color: #e84118;
    width: 100px;
}

.btn-readmore {
    background-color: #e84118;
}


/* latest-event */

.deskripsi-latesevent {
    font-size: 13px;
    margin-top: -10px;
    font-family: Samsung Sans Light;
    font-weight: lighter;
    display: -webkit-box;
    max-width: 100%;
    height: 50px;
    margin: 0 auto;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden; text-overflow: ellipsis;

}

.main-title {
    text-align: center;
    font-family: "Samsung Sans Medium";
    color: #e84118;
}

.card {
    margin: 10px auto;
}

.tgl-latest-event {
    margin: 0 auto;
    font-size: 32px;
}

.bulan-latest-event {
    font-family: "Samsung Sans Medium";
    color: #e84118;
    margin: 0 auto;
}

.time {
    font-family: "Samsung Sans Medium";
    font-size: 13px;
    margin-top: 5px;
    color: #636363;
}

.date {
    font-family: "Samsung Sans Medium";
    font-size: 13px;
    margin-top: 5px;
    color: #636363;
}

.address {
    font-family: "Samsung Sans Medium";
    font-size: 13px;
    color: #636363;
}

.title-latest {
    text-transform: capitalize;
    font-family: "Samsung Sans Medium";
    font-weight: 700;
    color: #262626;
}


/*kategori event*/
.title-category-event {
    text-transform: capitalize ;
    font-family: "Samsung Sans Bold";
    font-size: 18px;
    color: #262626;
}

.time-category-event {
    text-transform: capitalize ;
    font-size: 14px;
    font-family: "Samsung Sans Bold";
    color: #262626;
}

.address-category-event {
    text-transform: capitalize ;
    font-size: 14px;
    font-family: "Samsung Sans Bold";
    color: #262626;
}
/*kategori event*/

.title-recomended-event {
    text-transform: capitalize ;
    font-family: "Samsung Sans Bold";
    color: #262626;
}

.address-recomended-event {
    text-transform: capitalize;
    font-family: "Samsung Sans Light";
    font-size: 14px;
    color: #636363;
}

.price-recomended-event {
    font-family: "Samsung Sans Medium";
    font-size: 14px;
    text-transform: capitalize;
    color: #262626;
}

.parallax-container {
    max-width: 960px;
    width: 70%;
    margin: 0 auto;
}

.post-author {
    max-width: 960px;
    margin: 0 auto;
}

.card-news {
    margin-top: -10px;
}

.link-news {
    text-decoration: none;
    color: black;
}

.news-container {
    padding-right: 0;
    margin-top: 20px;
}

.news-row {
    margin-top: 50px;
}

.judul-news {
    color: #262626;
    text-transform: uppercase;
    font-family: "Samsung Sans Bold";
}

.font-iklan {
    color: white;
    font-family: Samsung Sans Light;
    opacity: 0.8;
}

.author-info {
    font-size: 12px;
    margin-top: -8px;
}

.author-info-1 {
    font-weight: bold;
}

.author-info-2 {
    font-weight: lighter;
}

.author-info-3 {
    margin-left: 5px;
    font-weight: lighter;
}

.author-info-photo {
    width: 10px;
    height: 10px;
    margin-top: -3px;
}

.deskripsi-news {
    height: 80px;
    text-transform: capitalize;
    font-size: 15px;
    color: #636363;
    font-family: Samsung Sans;
    font-weight: 800;
}

.text-author {
    color: white;
    margin-left: 5px;
}

.a {
    text-decoration: none;
    background-color: none;
}

.prevnext_post {
    margin-bottom: 30px;
    padding: 20px 10px;
    margin-right: 20px;
    margin-left: -10px;
}

.pp-container {
    padding-bottom: -50px;
}

.author-box {
    border: 1px solid #eee;
    padding: 30px 0;
    margin-bottom: 30px;
    margin-top: 50px;
    height: 50px;
}

.avatar-author {
    width: 60px;
    height: 60px;
    border-radius: 100%;
}

.post-title {
    font-size: 15px;
}

.post-tags a {
    color: #616161;
    background: #f5f5f5;
    display: inline-block;
    letter-spacing: 1px;
    line-height: normal;
    padding: 4px 10px;
    margin: 0 3px 5px 0;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: auto;
    -moz-osx-font-smoothing: auto;
    transition: all .2s linear;
}

.prevnext_post a {
    display: block;
    float: left;
    width: 50%;
    padding-right: 20px;
}

.prevnext_post a.next-post {
    float: right;
    padding-right: 0;
}

section.module:last-child {
    margin-bottom: 0;
}

section.module h2 {
    margin-bottom: 40px;
    font-family: "Roboto Slab", serif;
}

section.module p {
    margin-bottom: 40px;
}

section.module p:last-child {
    margin-bottom: 0;
}

section.module.content {
    padding: 40px 0;
    background-color: rgba(207, 216, 220, 0.5);
}

section.module.content:last-child {
    margin-bottom: 60px;
}

section.module.parallax {
    padding: 24px 0;
    background-position: 0 0;
}

section.module.parallax h1 {
    color: #1e1e1e;
    line-height: 1;
    text-align: center;
    text-transform: uppercase;
    text-shadow: 0 0 10px white;
}

.ct-btn-scroll {
    width: 49px;
    height: 49px;
    position: absolute;
    bottom: 30px;
    left: 0;
    right: 0;
    margin: auto;
    padding-top: 500px;
    z-index: 9;
    border-radius: 50%;
    -webkit-transition: background-color 0.25s ease-in-out;
    transition: background-color 0.25s ease-in-out;
}

section.module.parallax-text h1 {
    color: #ffff;
    text-align: center;
    text-transform: uppercase;
    font-weight: 700;
    line-height: 1.15;
    margin: 0 0 .4em;
    letter-spacing: -.04em;
    margin-top: 200px;
    text-shadow: 2px 2px black;
}

.parallax-1 {
    background-position: 50% 0;
    background-size: cover;
}

.parallax-2 {
    background-position: 50% 0;
    background-size: cover;
    height: 680px;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../img/parallax.jpg') no-repeat center center fixed;
}

.parallax-blur {
    background-color: black;
}

.text-parralax-tengah {
    margin-top: -15px;
    font-size: 75px;
}

a {
    text-decoration: none;
    color: white;
}

.date-meta:before {
    content: "\2014";
    margin-right: 10px;
    margin-left: 10px;
}

.img-google {
    width: 100px;
}

.img-apple {
    width: 85px;
    margin-top: 7px;
}

.text-parralax-kiri {
    text-align: left;
}

.text-recomended-event {
    font-size: 16px;
    font-family: Samsung Sans Bold;
    color: #e84118;
}

.trending img {
    height: 720px;
}

.news__img2 {
    width: 100%;
    height: 80%;
}

.news__img1 {
    width: 100%;
    height: 100%;
}

.news__img {
    width: 100%;
    height: 100%;
    max-width: 400px;
    max-height: 300px;
;
}

.item-kecil {
    position: relative;
    text-align: center;
    color: white;
}

.news__img-kecil {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.news__item--kecil {
    margin-bottom: 20px;
    position: relative;
    display: inline-block;
}

.news__item--kecil .text-kecil {
    position: absolute;
    top: 80%;
    height: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: rgba(0, 0, 0, 0.5);
    color: #fff;
    text-align: left;
    padding: 10px 15px;
    width: 94%;
}

.deskripsi-kecil {
    font-size: 12px;
    font-family: "Samsung Sans Light";
}

.title-news-kecil {
    font-size: 14px;
    text-transform: uppercase;
    padding-bottom: 5px;
}

.news__item--1 {
    margin-bottom: 20px;
    position: relative;
    display: inline-block;
}

.news__item--1 .text {
    position: absolute;
    top: 91%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: rgba(0, 0, 0, 0.5);
    color: #fff;
    text-align: left;
    padding: 10px 15px;
    width: 96%;
}

.deskripsi-left {
    font-size: 15px;
    font-family: "Samsung Sans Light";
    display: -webkit-box;
    max-width: 100%;
    height: 40px;
    margin: 0 auto;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden; text-overflow: ellipsis;
}

.news {
    text-align: center;
    font-family: "Samsung Sans Medium";
    color: #e84118;
}

.title-news {
    font-size: 20px;
    text-transform: uppercase;
    padding-bottom: 5px;
    font-family: Samsung Sans Medium;
}

.news__item--2 {
    margin-bottom: 50px;
}

.news__item--2 .text {
    position: absolute;
    top: 85%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: rgba(0, 0, 0, 0.5);
    color: #fff;
    text-align: left;
    padding: 5px 10px;
    width: 92%;
}

.btn-news-list {
    margin-bottom: 5px;
    padding-bottom: 5px;
    color: white;
    width: 80px;
    height: 20px;
    float: right;
    background-color: black;
}

.deskripsi-right {
    font-size: 11px;
    font-family: "Samsung Sans Light";
    display: -webkit-box;
    max-width: 100%;
    height: 30px;
    margin: 0 auto;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden; text-overflow: ellipsis;

}

.title-news-right {
    font-size: 14px;
    text-transform: uppercase;
    padding-bottom: 5px;
    font-family: Samsung Sans Medium;
}

.list-berita {
    border: solid 1px #D3D3D3;
    box-shadow: 0px 3px 3px #d3d3d394;
    margin: 20px auto;
}

.list_news_img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    padding: 10px 0px;
}

.text-list-news {
    /* right: 25px; */
    padding: 5px 15px;
}

.deskripsi-list-news {
    font-size: 14px;
    display: -webkit-box;
    max-width: 100%;
    height: 65px;
    margin: 0 auto;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden; text-overflow: ellipsis;
}

.v1 {
    margin-top: 18px;
    border: solid 1px rgba(0, 0, 0, 0.5);
    height: 540px;
    opacity: 0.5;
    position: absolute;
    left: 50%;
    margin-left: -3px;
}

.v2 {
    width: 230px;
    height: 1px;
}

@media screen and (max-width: 576px) {
    .img-category {
        width: 100%;
        height: 100%;
        border-radius: 7px 7px 7px 7px;
    }
    .tag {
        width: 83%;
    }
    .head-news {
        margin-top: 80px;
        padding-bottom: 40px;
    }
    .news-header {
        margin-top: 50px;
        padding-bottom: 0px;
    }
    .img-google {
        width: 75px;
    }
    .img-apple {
        margin-top: 3px;
        width: 65px;
    }
    .news__item--kecil .text-kecil {
        position: absolute;
        top: 80%;
        height: 40%;
        left: 50%;
        transform: translate(-50%, -50%);
        background: rgba(0, 0, 0, 0.5);
        color: #fff;
        text-align: left;
        padding: 10px 15px;
        width: 94%;
    }
    h1 {
        font-size: 25px;
    }
    .text-parralax-kiri {
        font-size: 12px;
    }
    .text-parralax-tengah {
        margin-top: -5px;
        font-size: 35px;
    }
}

@media screen and (max-width: 768px) {
    .tgl-latest-event {
        font-size: 35px;
    }
    .bulan-latest-event {
        font-size: 17px;
    }
    .parallax-container {
        padding-right: 15px;
        padding-left: 15px;
        margin-right: auto;
        margin-left: auto;
    }
    .news__item--1 .text {
        position: absolute;
        left: 50%;
        transform: translate(-50%, -50%);
        background: rgba(0, 0, 0, 0.5);
        color: #fff;
        text-align: left;
        padding: 10px 15px;
    }
    .deskripsi-left {
        font-size: 13px;
        font-family: "Samsung Sans Light";
    }
    .title-news {
        font-size: 15px;
        text-transform: uppercase;
        padding-bottom: 5px;
        font-family: Samsung Sans Medium;
    }
    .jeg_post_title {
        color: white;
        font-size: 3em;
        line-height: 1.15;
        margin: 0 0 .4em;
        letter-spacing: -.04em;
    }
    .text-parralax-kiri {
        font-size: 15px;
    }
    .text-parralax-tengah {
        margin-top: -5px;
        font-size: 45px;
    }
    .img-google {
        width: 70px;
    }
    .img-apple {
        margin-top: 1px;
        width: 60px;
    }
    .text-recomended-event {
        font-size: 14px;
    }
    .news-container {
        display: none;
    }
    .item-1 {
        display: none;
    }
    h1 {
        font-size: 30px;
    }
    .news__item--2 .text {
        position: absolute;
        top: 86% !important;
        left: 50%;
        transform: translate(-50%, -50%);
        background: rgba(0, 0, 0, 0.5);
        color: #fff;
        text-align: left;
        padding: 15px 15px !important;
        width: 95% !important;
    }
    .deskripsi-right {
        font-size: 12px;
        font-family: "Samsung Sans Light";
    }
    .title-news-right {
        font-size: 15px;
        text-transform: uppercase;
        padding-bottom: 5px;
        font-family: Samsung Sans Medium;
    }
    .item-besar {
        display: none;
    }
}

@media screen and (max-width: 992px) {
    .tgl-latest-event {
        font-size: 23px;
    }
    .bulan-latest-event {
        font-size: 11px;
    }
    .parallax-container {
        width: 90%;
    }
    .trending {
        display: none;
    }
    .news__item--1 .text {
        position: absolute;
        top: 91% !important;
        left: 50%;
        transform: translate(-50%, -50%);
        background: rgba(0, 0, 0, 0.5);
        color: #fff;
        text-align: left;
        padding: 10px 15px;
        width: 95% !important;
    }
    .deskripsi-left {
        font-size: 13px;
        font-family: "Samsung Sans Light";
    }
    .title-news {
        font-size: 15px;
        text-transform: uppercase;
        padding-bottom: 5px;
        font-family: Samsung Sans Medium;
    }
    .news__item--2 .text {
        position: absolute;
        top: 85%;
        left: 50%;
        transform: translate(-50%, -50%);
        background: rgba(0, 0, 0, 0.5);
        color: #fff;
        text-align: left;
        padding: 5px 10px;
    }
}

@media screen and (min-width: 1200px) {
    .post-author {
        text-align: center;
    }
}

@media screen and (max-width: 1200px) {
    .post-author {
        text-align: center;
    }
    .trending img {
        height: 750px;
    }
    .news__item--1 .text {
        position: absolute;
        top: 91%;
        left: 50%;
        transform: translate(-50%, -50%);
        background: rgba(0, 0, 0, 0.5);
        color: #fff;
        text-align: left;
        padding: 10px 15px;
        width: 95%;
    }
    .news__item--2 .text {
        position: absolute;
        top: 71%;
        left: 50%;
        transform: translate(-50%, -50%);
        background: rgba(0, 0, 0, 0.5);
        color: #fff;
        text-align: left;
        padding: 5px 10px;
        width: 91%;
    }
    .row item-besar {
        margin-top: 50px;
        margin-bottom: 50px;
    }
}

@media screen and (max-width: 768px) {
    .post-author {
        font-size: 15px;
    }
}

@media screen and (min-width: 768px) {
    .item-kecil {
        display: none;
    }
}

@media screen and (min-width: 768px) and (max-width: 992px) {
    .item-sedang {
        display: none;
    }
}

@media screen and (min-width: 992px) and (max-width: 1200px) {
    .news__item--2 .text {
        position: absolute;
        top: 85% !important;
        left: 50%;
        transform: translate(-50%, -50%);
        background: rgba(0, 0, 0, 0.5);
        color: #fff;
        text-align: left;
        padding: 5px 10px;
        width: 91% !important;
    }
}

@media screen and (min-width: 768px) and (max-width: 992px) {
    .news__item--2 .text {
        position: absolute;
        top: 85% !important;
        left: 50%;
        transform: translate(-50%, -50%);
        background: rgba(0, 0, 0, 0.5);
        color: #fff;
        text-align: left;
        padding: 5px 10px;
        width: 91% !important;
    }
    .v1 {
        display: none;
    }
    .text-populer {
        margin-top: 50px;
        float: left;
    }
    .news__img-kecil {
        object-fit: contain;
    }
}

@media screen and (max-width: 401px) {
    .news__item--kecil .text-kecil {
        top: 75%;
        height: 50%;
        margin: 0 auto;
        width: 91%;
    }
    .title-news-kecil {
        font-size: 12px;
        font-family: Samsung Sans Medium;
    }
    .deskripsi-kecil {
        font-size: 10px;
    }
}

.detail-event{
    font-size: 15px;
}

/*.list-detailed-box {*/
/*    flex-direction: column;*/
/*    align-items: center;*/
/*    display: flex;*/
/*    justify-content: center;*/
/*}*/

/*.name-listed-box {*/
/*    font-size: 15px;*/
/*    color: black;*/
/*    padding-top: 1px;*/
/*}*/

h4 {
    text-decoration: underline;
}

h5 {
    font-weight: lighter;
}

.book-font {
    font-size: 15px;
    font-weight: bold;
}

#example3 {
    box-sizing: content-box;
    width: 255px;
    height: 50px;
    border: 1px solid white;
}

.book-now {
    border-radius: 7px;
    background-color: #FA0100;
    color: white;
    margin-bottom: 50px;
    width: 120px;
    height: 40px;
    box-shadow: 1px;
}

.news-slide {
    background-color: #EFEFEF;
    padding-bottom: 30px;
}

.news-slide-details {
    background-color: #EFEFEF;
    padding-bottom: 280px;
    background-image: linear-gradient(to bottom right, #744F5F, #211913);
}

.carousel-inner img {
    width: 100%;
    height: 100%;
    max-height: 400px;
    object-fit: cover;
}

#example1 {
    border: 1px solid;
    padding: 10px;
    box-shadow: 5px 10px;
    height: 100%;
}

.text-deskripsi {
    font-size: 15px;
    /*margin-left: -30px;*/

}


/*footer*/

.hr {
    width: 100%;
    height: 1px;
    opacity: 0.15;
    padding: 0;
    background-color: black;
    border: 0 none;
    margin: 0;
}

.footer_area .col-sm-6 {
    margin-bottom: 30px;
}

.footer_area .footer_inner {
    margin-bottom: -30px;
}

.news_widget {
    padding-left: 0px;
}

.footer-area {
    background: #EFEFEF;
    padding-top: 60px;
    padding-bottom: 10px;
}

@media (min-width: 1000px) {
    .footer-area {
        padding-top: 10px;
        padding-bottom: 10px;
    }
}

.footer-area .footer-nav li {
    margin-top: 18px;
}

.footer-area .footer-nav li a {
    color: #fff;
}

.footer-area .footer-nav li a:hover {
    color: #6059f6;
}

.footer-area .primary-btn {
    background-color: #6059f6;
    line-height: 42px;
    padding-left: 30px;
    padding-right: 60px;
    border-radius: 25px;
    border: none;
    color: #fff;
    display: inline-block;
    font-weight: 500;
    position: relative;
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    cursor: pointer;
    text-transform: uppercase;
    position: relative;
}

.footer-area .primary-btn:focus {
    outline: none;
}

.footer-area .primary-btn span {
    color: #fff;
    position: absolute;
    top: 50%;
    transform: translateY(-60%);
    right: 30px;
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
}

.footer-area .primary-btn:hover {
    background-color: #6059f6;
    box-shadow: none;
    color: #fff;
}

.footer-area .primary-btn:hover span {
    color: #fff;
    right: 20px;
}

.footer-area .primary-btn.white {
    border: 1px solid #fff;
    color: #fff;
}

.footer-area .primary-btn.white span {
    color: #fff;
}

.footer-area .primary-btn.white:hover {
    background: #fff;
    color: #6059f6;
}

.footer-area .primary-btn.white:hover span {
    color: #6059f6;
}

.footer-area h6 {
    text-transform: uppercase;
    color: #fff;
    margin-bottom: 25px;
    font-size: 20px;
    font-weight: 700;
}

.copy-right-text i,
.copy-right-text a {
    color: #6059f6;
}

.instafeed {
    margin: -5px;
}

.instafeed li {
    overflow: hidden;
    width: 25%;
    margin-bottom: 0 !important;
}

.instafeed li img {
    margin: 5px;
}

.footer-social {
    text-align: right;
}

.footer-social a {
    width: 20px;
    width: 40px;
    display: inline-table;
    height: 40px;
    text-align: center;
    padding-top: 10px;
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
}

.footer-social a:hover i {
    color: #6059f6;
}

.footer-social i,
.footer-social span {
    font-size: 14px;
    color: rgba(221, 221, 221, 0.5);
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
}

@media (max-width: 991.98px) {
    .footer-social {
        text-align: left;
        margin-top: 20px;
    }
}

.single-footer-widget {
    color: #fff;
}

.single-footer-widget input {
    line-height: 38px;
    border: none;
    background: transparent;
    border: 1px solid #333333;
    font-weight: 400;
    color: #999999;
    padding-left: 20px;
    width: 80%;
    font-size: 14px;
}

.single-footer-widget input:focus {
    outline: 0;
    box-shadow: none;
}

.single-footer-widget input::placeholder {
    font-weight: 400;
}

.single-footer-widget .bb-btn {
    background-color: #6059f6;
    color: #fff;
    font-size: 13px;
    font-weight: 300;
    border-radius: 0;
    cursor: pointer;
}

@media (max-width: 960px) {
    .single-footer-widget .nw-btn {
        margin-top: 20px;
    }
    .single-footer-widget .newsletter {
        padding-bottom: 40px;
    }
}

.single-footer-widget .info {
    position: absolute;
    margin-top: 3px;
    color: #fff;
    font-size: 14px;
}

.single-footer-widget .info.valid {
    color: green;
}

.single-footer-widget .info.error {
    color: #6059f6;
}

.single-footer-widget ::-moz-selection {
    /* Code for Firefox */
    background-color: #6059f6;
    color: #888888;
}

.single-footer-widget ::selection {
    background-color: #6059f6;
    color: #888888;
}

.single-footer-widget ::-webkit-input-placeholder {
    /* WebKit, Blink, Edge */
    color: #888888;
    font-weight: 300;
}

.single-footer-widget :-moz-placeholder {
    /* Mozilla Firefox 4 to 18 */
    color: #888888;
    opacity: 1;
    font-weight: 300;
}

.single-footer-widget ::-moz-placeholder {
    /* Mozilla Firefox 19+ */
    color: #888888;
    opacity: 1;
    font-weight: 300;
}

.single-footer-widget :-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: #888888;
    font-weight: 300;
}

.single-footer-widget ::-ms-input-placeholder {
    /* Microsoft Edge */
    color: #888888;
    font-weight: 300;
}

@media (max-width: 991.98px) {
    .single-footer-widget {
        margin-bottom: 45px;
    }
}

.single-footer-widget p {
    color: #777777;
}

.single-footer-widget ul li {
    margin-bottom: 10px;
}

.single-footer-widget ul li a {
    color: #777777;
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
}

.single-footer-widget ul li a:hover {
    color: #6059f6;
}

.footer-bottom {
    padding: 18px 0;
    margin-top: 30px;
    border-top: 1px solid rgba(255, 255, 255, 0.1);
}

@media (min-width: 1000px) {
    .footer-bottom {
        margin-top: 70px;
    }
}

.footer-text a,
.footer-text i {
    color: #6059f6;
}

.footer-bottom {
    text-align: center;
}

.footer-bottom .footer-social {
    text-align: center;
    margin-top: 15px;
}

.footer-area {
    padding: 70px 0px;
    padding-bottom: 10px;
}


/*about*/

.bg-about {
    /*background-image: url('../image/about.jpg'); */
    background-size: cover;
    height: 300px;
    /* background-size: 100%; */
    background-repeat: no-repeat;
    background-position: center;
    object-fit: fill;
    background-color: linear-gradient;
}

.title-about {
    margin: auto auto;
    color: white;
}

.thumbnail-about {
    height: 250px;
    justify-content: center;
    margin-top: -150px;
    z-index: 0.1;
}

.thumbnail-about-img {
    background-size: 100% 100%;
    background-repeat: no-repeat;
    border-radius: 7px;
    box-shadow: 1px 1px 5px grey;
}


/*end about*/


/*detail_event*/

.card-deskrisi {
    border: solid 1px #D3D3D3;
    box-shadow: -3px 5px 4px #D3D3D3;
    padding-top: 15px;
}


/*end detail_event*/


/*category_event*/

.sidenav {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    display: inline-block;
    background-color: white;
    border-right: solid 1px black;
    /*overflow-x: hidden;*/
    /*padding-top: 20px;*/
}

.make-me-sticky {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    padding: 70px 15px;
}

.sidenav a {
    /*padding: 20px 25px;*/
    /*margin: 5px 75px ;*/
    /*text-align: right;*/
    margin-left: 50px;
    /*margin-bottom: 15px;*/
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 22px;
    color: #818181;
    display: block;
}

.sidenav a:hover {
    border-left: solid 5px #e84118;
}

.main {
    /*margin-left: 160px; !* Same as the width of the sidenav *!*/
    font-size: 28px;
    /* Increased text to enable scrolling */
    padding: 0px 10px;
}

.event-list {
    padding: 70px 15px;
}

#addContent {
    position: fixed;
    /*text-align: center;*/
    bottom: 10px;
    width: 10em;
    height: 3em;
    left: 50%;
    margin-left: -5em;
}

#row2 {
    display: none;
}

#row3 {
    display: none;
}




/*#btn1:hover{*/


/*    display: none;*/


/*}*/

#btn2 {
    display: none;
}

#btn3 {
    display: none;
}

.card {
    box-shadow: 1px 5px 5px grey;
    margin: 15px auto;
}

.card:hover {
    -ms-transform: scale(0.5);
    /* IE 9 */
    -webkit-transform: scale(0.5);
    /* Safari 3-8 */
    transform: scale(1.05);
    transition: 0.3s;
}


/*end category_event*/

/*-------------------slide detail event---------------*/


/*end slide detail event*/